<h1>{{title}}</h1>
{{description}}
{{#if isEditing}}
{{partial 'event_edit'}}
<button class="btn" {{action doneEditing}}>Done</button>
{{else}}
<button class="btn" {{action edit}}>Edit</button>
{{/if}}

